<% require 'rack/utils' %>
<% player_name = lambda do |player_id|
     player = player_id && @players[player_id]
     player ? player.name : '—'
   end %>
<% player_name_for_popover = lambda do |player_id|
     Rack::Utils.escape_html(player_name.call(player_id))
   end %>
<% format_team_label = lambda do |team_ids|
     names = Array(team_ids).map { |pid| player_name_for_popover.call(pid) }
     label = names.reject(&:empty?).join(' + ')
     label = '—' if label.empty?
     label
   end %>
<% match_popover_rows = lambda do |match|
     rows = []
     submatches = match.get_submatches
     if submatches.empty?
       rows << "<tr><td colspan='3' class='text-center'>No results</td></tr>"
     else
       submatches.each do |team1_ids, score_a, team2_ids, score_b|
         team1 = format_team_label.call(team1_ids)
         team2 = format_team_label.call(team2_ids)
         score_a_text = Rack::Utils.escape_html(score_a.nil? ? '-' : score_a.to_s)
         score_b_text = Rack::Utils.escape_html(score_b.nil? ? '-' : score_b.to_s)
         rows << "<tr><td class='text-right'>#{team1}</td><td>#{score_a_text}-#{score_b_text}</td><td>#{team2}</td></tr>"
       end
     end
     rows.join
   end %>

<div class="col-md-12">
<h4>Recently finished matches</h4>
<table class="table table-striped table-condensed">
<tr><th>Time</th><th>Division</th><th>Player 1</th><th></th><th>Player 2</th><th></th><th>Player 3</th><th></th><th>Player 4</th><th></th><th class="text-center">Details</th><th class="text-center">Duration</th></tr>
<% @recent_matches.each do |m| %>
<tr>
<td><%= m.get_time() %></td>
<td><%= @division_data[m.division_id][:name] %></td>
<td><%= player_name.call(m.players[0]) %></td><td><%= m.victories[0] %></td>
<td><%= player_name.call(m.players[1]) %></td><td><%= m.victories[1] %></td>
<td><%= player_name.call(m.players[2]) %></td><td><%= m.victories[2] %></td>
<td><%= player_name.call(m.players[3]) %></td><td><%= m.victories[3] %></td>
<td class="text-center"><button class="btn btn-default btn-xs match-result-popover" data-toggle="popover" data-content="<table class='table table-condensed table-borderless'><%= match_popover_rows.call(m) %></table>">Details</button></td>
<td class="text-center"><%= m.get_duration() %></td>
</tr>
<% end %>
</table>
</div>

<% @division_data.each do |id, data| %>
<div class="col-md-3">
<h4><%= data[:name] %></h4>
<table class="table table-condensed">
<tr><th class="col-md-1 text-right">Pos</th><th class="col-md-4 text-left">Player</th><th class="col-md-2 text-right">Points</th></tr>
<% data[:classification].each do |c| %>
<tr><td class="text-right"><%= c[:position] %></td><td class="text-left"><%= @players[c[:player_id]].name %></td><td class="text-right"><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td></tr>
<% end %>
</table>
</div>
<% end %>
